@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



body {
  color: var(--foreground);
    font-family: 'Poppins', sans-serif !important;
}

.as-link{
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; visibility: hidden; }
}

.animate-fadeOut {
  animation: fadeOut 10s ease-in-out forwards;
}
